/* HEADER HEADROOM */
.header {
  margin-top: 10% !important;
}

@media only screen and (max-width: 575px) {
  .header {
    margin-top: 20% !important;
  }
}

@media only screen and (min-width: 576px) {
  .headroom {
    position: fixed;
    z-index: 1000;
    will-change: transform;
    transition: transform 200ms linear;
  }
  .headroom-pinned {
    transform: translate(0, 0px);
  }
  .headroom-unpinned {
    transform: translate(0, -120px);
  }
}

@media (max-width: 576px) {
  .m-100 {
      width: 100% !important;
  }
}

.width-40 {
  width: 40% !important;
}
.width-50 {
  width: 50% !important;
}
.width-60 {
  width: 60% !important;
}
.width-70 {
  width: 70% !important;
}
.width-80 {
  width: 80% !important;
}
.width-90 {
  width: 90% !important;
}
.width-100 {
  width: 100% !important;
}
@media (min-width: 576px) {
  .width-sm-50 {
      width: 50% !important;
  }
  .width-sm-60 {
      width: 60% !important;
  }
  .width-sm-70 {
      width: 70% !important;
  }
  .width-sm-80 {
      width: 80% !important;
  }
  .width-sm-90 {
      width: 90% !important;
  }
  .width-sm-100 {
      width: 100% !important;
  }
}
@media (min-width: 1367px) {
  .width-md-50 {
      width: 50% !important;
  }
  .width-md-60 {
      width: 60% !important;
  }
  .width-md-70 {
      width: 70% !important;
  }
  .width-md-80 {
      width: 80% !important;
  }
  .width-md-90 {
      width: 90% !important;
  }
  .width-md-100 {
      width: 100% !important;
  }
}
.line-height-10 {
  line-height: 1 !important;
}
.line-height-11 {
  line-height: 1.1 !important;
}
.line-height-12 {
  line-height: 1.2 !important;
}
.line-height-13 {
  line-height: 1.3 !important;
}
.line-height-14 {
  line-height: 1.4 !important;
}
.line-height-15 {
  line-height: 1.5 !important;
}
.line-height-20 {
  line-height: 2 !important;
}
.line-height-25 {
  line-height: 2.5 !important;
}
.font-3 {
  font-size: 3pt !important;
}
.font-5 {
  font-size: 5pt !important;
}
.font-6 {
  font-size: 6pt !important;
}
.font-7 {
  font-size: 7pt !important;
}
.font-8 {
  font-size: 8pt !important;
}
.font-10 {
  font-size: 10pt !important;
}
.font-12 {
  font-size: 12pt !important;
}
.font-14 {
  font-size: 14pt !important;
}
.font-16 {
  font-size: 16pt !important;
}
.font-18 {
  font-size: 18pt !important;
}
.font-20 {
  font-size: 20pt !important;
}
.font-22 {
  font-size: 22pt !important;
}
.font-24 {
  font-size: 24pt !important;
}
.font-26 {
  font-size: 26pt !important;
}
.font-28 {
  font-size: 28pt !important;
}
.font-30 {
  font-size: 30pt !important;
}
.font-32 {
  font-size: 32pt !important;
}
.font-34 {
  font-size: 34pt !important;
}
.font-36 {
  font-size: 36pt !important;
}
.font-38 {
  font-size: 38pt !important;
}
.font-40 {
  font-size: 40pt !important;
}
.font-42 {
  font-size: 42pt !important;
}
.font-52 {
  font-size: 52pt !important;
}
.font-62 {
  font-size: 62pt !important;
}
.font-72 {
  font-size: 72pt !important;
}
.font-82 {
  font-size: 82pt !important;
}
@media (min-width: 576px) {
  .line-height-sm-10 {
      line-height: 1 !important;
  }
  .line-height-sm-11 {
      line-height: 1.1 !important;
  }
  .line-height-sm-12 {
      line-height: 1.2 !important;
  }
  .line-height-sm-13 {
      line-height: 1.3 !important;
  }
  .line-height-sm-14 {
      line-height: 1.4 !important;
  }
  .line-height-sm-15 {
      line-height: 1.5 !important;
  }
  .line-height-sm-20 {
      line-height: 2 !important;
  }
  .line-height-sm-25 {
      line-height: 2.5 !important;
  }
  .font-sm-5 {
      font-size: 5pt !important;
  }
  .font-sm-6 {
      font-size: 6pt !important;
  }
  .font-sm-7 {
      font-size: 7pt !important;
  }
  .font-sm-8 {
      font-size: 8pt !important;
  }
  .font-sm-10 {
      font-size: 10pt !important;
  }
  .font-sm-11 {
      font-size: 11pt !important;
  }
  .font-sm-12 {
      font-size: 12pt !important;
  }
  .font-sm-14 {
      font-size: 14pt !important;
  }
  .font-sm-16 {
      font-size: 16pt !important;
  }
  .font-sm-18 {
      font-size: 18pt !important;
  }
  .font-sm-20 {
      font-size: 20pt !important;
  }
  .font-sm-22 {
      font-size: 22pt !important;
  }
  .font-sm-24 {
      font-size: 24pt !important;
  }
  .font-sm-26 {
      font-size: 26pt !important;
  }
  .font-sm-28 {
      font-size: 28pt !important;
  }
  .font-sm-30 {
      font-size: 30pt !important;
  }
  .font-sm-32 {
      font-size: 32pt !important;
  }
  .font-sm-34 {
      font-size: 34pt !important;
  }
  .font-sm-36 {
      font-size: 36pt !important;
  }
  .font-sm-38 {
      font-size: 38pt !important;
  }
  .font-sm-40 {
      font-size: 40pt !important;
  }
  .font-sm-42 {
      font-size: 42pt !important;
  }
  .font-sm-52 {
      font-size: 52pt !important;
  }
  .font-sm-62 {
      font-size: 62pt !important;
  }
  .font-sm-72 {
      font-size: 72pt !important;
  }
  .font-sm-82 {
      font-size: 82pt !important;
  }
}
@media (min-width: 1367px) {
  .line-height-md-10 {
      line-height: 1 !important;
  }
  .line-height-md-11 {
      line-height: 1.1 !important;
  }
  .line-height-md-12 {
      line-height: 1.2 !important;
  }
  .line-height-md-13 {
      line-height: 1.3 !important;
  }
  .line-height-md-14 {
      line-height: 1.4 !important;
  }
  .line-height-md-15 {
      line-height: 1.5 !important;
  }
  .line-height-md-20 {
      line-height: 2 !important;
  }
  .line-height-md-25 {
      line-height: 2.5 !important;
  }
  .font-md-5 {
      font-size: 5pt !important;
  }
  .font-md-6 {
      font-size: 8pt !important;
  }
  .font-md-7 {
      font-size: 7pt !important;
  }
  .font-md-8 {
      font-size: 8pt !important;
  }
  .font-md-10 {
      font-size: 10pt !important;
  }
  .font-md-12 {
      font-size: 12pt !important;
  }
  .font-md-14 {
      font-size: 14pt !important;
  }
  .font-md-16 {
      font-size: 16pt !important;
  }
  .font-md-18 {
      font-size: 18pt !important;
  }
  .font-md-20 {
      font-size: 20pt !important;
  }
  .font-md-22 {
      font-size: 22pt !important;
  }
  .font-md-24 {
      font-size: 24pt !important;
  }
  .font-md-26 {
      font-size: 26pt !important;
  }
  .font-md-28 {
      font-size: 28pt !important;
  }
  .font-md-30 {
      font-size: 30pt !important;
  }
  .font-md-32 {
      font-size: 32pt !important;
  }
  .font-md-34 {
      font-size: 34pt !important;
  }
  .font-md-36 {
      font-size: 36pt !important;
  }
  .font-md-38 {
      font-size: 38pt !important;
  }
  .font-md-40 {
      font-size: 40pt !important;
  }
  .font-md-42 {
      font-size: 42pt !important;
  }
  .font-md-52 {
      font-size: 52pt !important;
  }
  .font-md-62 {
      font-size: 62pt !important;
  }
  .font-md-72 {
      font-size: 72pt !important;
  }
  .font-md-82 {
      font-size: 82pt !important;
  }
}

@font-face {
  font-family: 'Neon80';
  src: local('Neon80'), url(./fonts/Neon.ttf) format('truetype');
}

body {
    font-family: 'Neon80', cursive, sans-serif !important;
}

.font-size-36 {
  font-size: 36pt;
}

.font-size-38 {
  font-size: 38pt;
}

.font-size-40 {
  font-size: 40pt;
}

@media only screen and (max-width: 762px) {
  .font-size-36 {
    font-size: 20pt;
  }
  
  .font-size-38 {
    font-size: 21pt;
  }
  
  .font-size-40 {
    font-size: 22pt;
  }
}

/* Global styling */
.col-10.img-small img {
  width: 200px;
}

.cursorPointer {
  cursor: pointer
}

.removeTagA {
  text-decoration: none !important;
}

.removeTagA h5, .removeTagA .popCount {
  color: #000000 !important
}

/* Navbar */

.navbar-brand img {
  width: 185px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 762px) {
  .navbar-brand img {
    width: 100px;
    background-repeat: no-repeat;
  }
}

.navbar-custom {
    font-size: 18px;
}

.navbar-custom li {
  line-height: 40px;
}

.navbar-custom a {
  color: #D32242 !important;
}

.SearchCategory .dropdown a.dropdown-toggle.nav-link::after, 
.navbar-nav-cust .dropdown a.dropdown-toggle.nav-link::after,
.SearchCategorySm.dropdown a.dropdown-toggle.nav-link::after {
  content: none !important;
}

.collapse svg {
  font-size: 18px;
}


/* Tambahan */
.navbar-toggler-icon {
  background-image: url("./assets/logo/menu-button-1.svg");
}

/* Carousel */

/*  New Banner Styling */
.Banner-Home {
  background: url('./assets/Banner2.png') no-repeat top;
  background-size: cover;
}

.Banner-Home .col-12 img {
  width: auto;
  visibility: hidden;
  height: 700px;
 
}

@media only screen and (max-width: 762px) {
  .Banner-Home {
    background: url('./assets/Banner2.png') no-repeat top;
    background-size: cover;
    object-fit: cover;
 }

  .Banner-Home .col-12 img {
    width: 100%;
    visibility: hidden;
    height: 300px;
    
  }
}

.boxBanner {
  position: absolute;
  top: 15%;
  margin-left: 10%;
  width: 600px;
}

.boxBanner h2 {
  font-size: 62px;
  color: #D32242;
  text-shadow: 2px 3px 0 #FFFFFF;
}

.boxBanner p {
  text-shadow: 1px 1px 0 #000000;
}

@media only screen and (max-width: 762px) {
  .boxBanner {
    position: absolute;
    top: 25%;
    margin-left: 0%;
    width: 300px;
  }

  .boxBanner h2 {
    font-size: 48px;
    color: #D32242;
    text-shadow: 2px 3px 0 #FFFFFF;
  }
}




.about-us {
  background: url('./assets/awan-merah.png') no-repeat bottom right;
  background-size: 400px 400px;
  object-fit: cover;
}

/* .about-us .card h2 {
  font-size: 62px;
  color: #D32242;
  text-shadow: 5px 3px 0 #b2b2b2;
} */

.taglinetext {
  font-size: 55px;
  color: #D32242;
  text-shadow: 5px 3px 0 #b2b2b2;
}

.descriptiontext { 
  font-size: 19px;
}

.logo-about-us{
  height: 300px;
}

@media  (min-width : 768px){
  .taglinetext {
    font-size: 62px;
  }

  .descriptiontext {
    font-size:  25px;
  }


}

.boxBanner p {
  font-size: 22px;
}


/* Scholarship Slider */
.bg-scholarship {
  width: 92% !important;
  background: #FFFFFF;
  height: auto;
}
.bg-scholarship:hover .bg-danger{
  background-color: #505866 !important;
  /* background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem; */

}


.slick-slide {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}


.slick-slide.slick-center {

  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  transform: scale(1.0);

}


/* .bg-scholarship:hover .progress-bar-animated {
  animation: progress-bar-stripes 1s linear infinite;
}

.bg-scholarship:hover .progress-bar-striped{
 
} */

@media only screen and (max-width: 762px) {
  .bg-scholarship {
    width: 80% !important;
    background: #FFFFFF;
    /* height: 550px; */
  }

  
}

.bg-projects {
  height: 425px;

  /* width: 97% !important; */
  margin: 0 2%;
  background: #4C4C4D;
  border-radius: 1rem !important;
  
}
/* 
.bg-projects .col-5 img {
  height: 400px;
  width: 425px;
  border-radius: 1rem;
} */

.bg-projects .col-7 img {
  width: 50px;
}

@media only screen and (max-width: 762px) {
  /* .bg-projects {
    height: 200px;
  } */

  .bg-projects .col-7 img {
    width: 25px;
  }

  .font-size-36 {
    font-size: 12pt
  }
  /* .bg-projects .col-5 img {
    height: 200px;
    width: 220px;
    border-radius: 1rem;
  } */
}

a.bg-scholarship, .bg-projects a {
  text-decoration: none;
}

.bg-projects a {
  color: #ffffff;
}

.bg-projects a:hover {
  color: #4C4C4D;
  text-shadow: 1px 1px 0 #FFFFFF;
}

a.bg-scholarship {
   color: #D32242;
}

a.bg-scholarship:hover {
  background: #D32242;
  color: white;
  text-decoration: none !important;
}

.profile-student {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background: gray;
  object-fit: cover;
  object-position: 10% 10%;
  filter: grayscale(100%);
}

/* Configuration Projects and Scholarship Slider - (SLIDERS)*/


.projects-slider .slick-dots {
  position: absolute;
  top: 90%;
  left: 0%;
}

.scholarship-slider .slick-dots {
  position: absolute;
  top: 100%;
  left: 0%;
}

.bg-scholarship.card {
  border-radius: .50rem;
}

@media (max-width: 762px) {
  .scholarship-slider .slick-dots {
    bottom: 10px;
    /* position: absolute;
    top: 60%;
    left: 0%; */
  }

  .projects-slider .slick-dots {
    position: absolute;
    top: 75%;
    left: 0%;
  }
}

.scholarship-slider .slick-dots li, .projects-slider .slick-dots li {
  margin-right: 30px;
}

.scholarship-slider .slick-dots li button:before, .projects-slider .slick-dots li button:before {
  color: white !important;
  opacity: 1;
  font-size: 24px;
}

@media only screen and (max-width: 762px) {
  .scholarship-slider .slick-dots li button:before, .projects-slider .slick-dots li button:before {
    color: white !important;
    opacity: 1;
    font-size: 12px;
  }
}

.scholarship-slider .slick-dots .slick-active button::before,  .projects-slider .slick-dots .slick-active button::before {
  color: #D32242 !important;
}

.outer-background-scholarship {
  background: #D3D8D8;
}


/* About Us */
.about-us .card {
  box-shadow: 0 0 30px gray;
}

/* Login Page */
.loginPage {
  align-content: center;
  height: 100%;
}

/* Button Material Ui*/
.selected:hover {
      /* color: #0056b3; */
    /* text-decoration: underline; */
}

.selected {
    /* color: #3f51b5; */
    /* padding-top: 6px; */
}

@media only screen and (max-width: 992px) {
  .dropdown .dropdown-menu {
    margin-top: 15px;
    min-width: 20rem !important;  
  }
} 

/* Register */
.userImage {
  object-fit: cover;
  width: 200px;
}

@media only screen and (max-width: 991px) {
    .navbar-brand {
    font-size: 32px !important;
  }
}

.carousel-indicators li {
  display: none;
}

.carousel-custom .custom-items {
  height: 490px;
  background: transparent;
}

@media only screen and (max-width: 767px) {
  .carousel-custom .custom-items {
    height: 350px;
    background: transparent;
  }
  .slick-slide>div {
    margin: 20px 10px !important;
  }

  .opacity-carousel-items .display-4 {
    font-size: 1.75rem !important;
    font-weight: bold;
  }
} 

@media only screen and (max-width: 580px) {
  .slick-next {
    right: -1px !important;
  }

  .slick-prev {
    left: -1px !important; 
    z-index: 2;
  }
} 


/* ===================== PAYMENT STYLE ===================== */

.inputBoxNominal{
  display: flex;
  justify-content: space-around;
  background-color: #f2f3f4;
  padding: 8px;
  border-radius: 0.5em;
  text-align: right;
}

.inputNominal{
  position: relative;
  width: 90%;
  background-color: transparent;
  border: 0px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.inputNominal:active{
  background-color: transparent;
  border: 0px;

}


.rpNominal{
  text-align: left;
  display: inline;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  
}

.titleProject{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.buttonPayment{
  text-align: right;
}

.komentar{
  border-radius: 4px;
  padding: 4px;
  width: 100%;
}

.cardHistory{
  border: thin solid grey ;
  border-radius: 4px;
  padding: 0.5em;
  display: flex;
}

.imageProject img{
  border-radius: 4px;
  margin-right: 0.5em;
}

.projectDetail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectName{
  font-size: 1.2em;
  font-weight: bold;
}

.komentarDonasi{
  font-size: 0.8em;
}

.nominalDonasi{
  font-size: 1em;
  position: relative;
  bottom: 0;
}

.statusPatment{
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusTest{
  margin: 0 auto;
  border : 1px solid green;
  border-radius: 8px;
  padding: 4px 16px;
}

.kotak{
  border: 1px dashed red;
}

.containerListDonasi{
  border: thin solid #f1eee8;
  padding: 0.5em;
  border-radius: 4px;
}

.card-list-donasi-project{
  /* border-bottom: thin solid #f1eee8; */
  background-color: #fafafa;
  padding: 0.5em;
  border-radius: 8px;

}

.userImage img{
  width: 60px;
  border-radius: 60px;


}

.contentList{
  padding-left: 1.5em;
}

.namaDonatur{
  font-weight: bold;
  color: blue;
}

.nominalDonasi{
  color: #505866;
}

.komentar{
  font-style: italic;
}

.dateDonasi{
  font-size: 11px;
  color: #505866;
}

.viewnextbutton:focus {outline: 0;}
.viewnextbutton {
  border: 4px solid #b5b8c1;
  color: #b5b8c1;
  position: relative;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  border-radius: 16px;
  font-size: 1.15rem;
  background-color: transparent;
  cursor: pointer;
}

.viewnextbutton::before {
  content: 'LIHAT SELENGKAPNYA';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -.4rem;
  border-radius: 16px;
  top: -.6rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 13px; */
  text-align: center;
  /* padding-left: 10px; */
  font-size: 20px;
  color : #FFFFFF;
  z-index: 1;
  background-color: #ce4948;
  transition: all 200ms ease-out;
  box-shadow: 0 12px 12px -4px gray;
}


.viewmorebutton:focus {outline: 0;}
.viewmorebutton {
  border: 4px solid #b5b8c1;
  color: #b5b8c1;
  position: relative;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  border-radius: 16px;
  font-size: 1.15rem;
  background-color: transparent;
  cursor: pointer;
}

.viewmorebutton::before {
  content: 'LIHAT SEMUA';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -.4rem;
  border-radius: 16px;
  top: -.6rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 13px; */
  text-align: center;
  /* padding-left: 10px; */
  font-size: 20px;
  color : #FFFFFF;
  z-index: 1;
  background-color: #ce4948;
  transition: all 200ms ease-out;
  box-shadow: 0 12px 12px -4px gray;
}

.sharebutton:focus {outline:0;}

.sharebutton {

  border: 4px solid #b5b8c1;
  color: #b5b8c1;
  position: relative;
  margin: 1rem 0rem;
  /* height: 75%; */
  padding: 2rem 2rem;
  
  border-radius: 16px;
  font-size: 1.15rem;
  background-color: transparent;
  cursor: pointer;
}


.sharebutton::before {
  content: 'SHARE YOUR STORY';
  position: absolute;
  /* text-align: center; */
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  left: -.4rem;
  border-radius: 16px;
  top: -.6rem;
  /* padding-top: 15px  ;
  padding-left: 10px;
  padding-right: 10px; */
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color : #FFFFFF;
  z-index: 1;
  background-color: #ce4948;
  transition: all 200ms ease-out;
  box-shadow: 0 12px 12px -4px gray;
}

.donatebutton:focus {outline:0;}

.donatebutton {

  border: 4px solid #ce4948;
  color: #ce4948;
  
  position: relative;
  
  margin: 1rem 0rem;

  padding: 1rem 2rem;
  border-radius: 16px;
  font-size: 1.15rem;
  background-color: transparent;
  cursor: pointer;
 
 
}

.donatebutton::before {
  content: 'DONATE';
  position: absolute;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: -.4rem;
  border-radius: 16px;
  top: -.6rem;
  /* padding-top: 13px; */
  /* padding-top: 14px  ; */
  /* padding-left: 10px;
  padding-right: 10px; */
  text-align: center;
  color : #FFFFFF;
  font-size: 25px;
  z-index: 1;
  background-color: #b5b8c1;
  transition: all 200ms ease-out;
  box-shadow: 0 12px 12px -4px gray;
}

.donatebutton:hover::before {
  top: 0;
  left: 0;
}

.sharebutton:hover::before {
  top: 0;
  left: 0;
}

.viewmorebutton:hover::before {
  top: 0;
  left: 0;
}

.viewnextbutton:hover::before {
  top: 0;
  left: 0;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projectbackground{
  background-image: url('../src/assets/borderbackground.png');
  /* background-position: center; */
  background-size:cover;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat;  */
  

  object-fit: cover;
}

.classfooter{
  /* style={{backgroundColor : '#ce4948', minHeight : '25vh', color : '#f1f1f1'}} */
  background-color:  #ce4948;
  min-height: 25vh;

  color:  #FFFCFD;
}