@font-face {
  font-family: 'Neon80';
  src: local('Neon80'), url(./fonts/Neon.ttf) format('truetype');
}

body {
    font-family: 'Neon80', cursive, sans-serif !important;
}

/* Global styling */
.col-10.img-small img {
  width: 200px;
}

.cursorPointer {
  cursor: pointer
}

.removeTagA {
  text-decoration: none !important;
}

.removeTagA h5, .removeTagA .popCount {
  color: #000000 !important
}

/* Navbar */

.navbar-brand img {
  background-repeat: no-repeat;
}

.navbar-custom {
    font-size: 18px;
}

.navbar-custom li {
  line-height: 40px;
}

.navbar-custom a {
  color: #D32242 !important;
}

.link-dark svg, .link-dark a {
  color: #666666 !important;
}

.link-white svg, .link-white a {
  color: #FFFFFF !important;
}

.link-white a.navbar-brand {
  color: #000000 !important;
}

.link-white #loginDropdown a {
  color: #007bff !important;
}

.link-white .dropdown-item {
  color: black !important;
}

/* Navbar Header */
.SearchCategory .dropdown a.dropdown-toggle.nav-link::after, 
.navbar-nav-cust .dropdown a.dropdown-toggle.nav-link::after,
.SearchCategorySm.dropdown a.dropdown-toggle.nav-link::after {
  content: none !important;
}

.dropdown .dropdown-menu {
  margin-top: 15px;
  min-width: 35rem !important;
}

.dropdown .dropdown-menu.userDropdown {
  margin-top: 15px;
  min-width: 20rem !important;
}

.navbar-nav-cust {
  flex-direction: row;
}

.showText {
  opacity: 0;
}

.searchIcon:focus>.showText,
.searchIcon:hover>.showText {
  opacity: 1;
  transition: opacity 0.5s;
}

.collapse svg {
  font-size: 18px;
}

/* .btn-default {
  font-size: 13px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
} */

/* .btn-2 {
	background: #cb4e4e;
  color: #fff;
  
	box-shadow: 0 4px #b1b1b1;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2g {
	border-radius: 40px;
} */



/* Carousel */
/* .carousel-custom {
  margin-top: -100px;
  z-index: -3;
}

.carousel-custom .custom-items {
    height: 200px;
    background: grey;
}

.carousel-custom-user .custom-items {
    height: 300px;
    background: grey;
}

.carousel-custom-user .opacity-carousel-items .display-4 {
    font-size: 1.75rem !important;
    font-weight: bold;
  }

.opacity-carousel-items div.bg-light {
  width: 400px;
  opacity: 0.8;
  color: #2b201f !important;
  float: left;
}

.slick-prev:before, .slick-next:before {
  color: #000000 !important;
}

.slick-slide>div {
  margin: 20px 15px !important;
}

.slick-next {
  right: -25px !important;
}

.slick-prev {
  left: -25px !important; 
}

a.card {
  color: black !important;
}

a.card:hover {
  color: black !important;
  text-decoration: none;
}

textarea:focus {   
    border-color: rgba(229, 103, 23, 0.8) !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
    outline: 0 none !important;
} */

/*  New Banner Styling */
.Banner-Home {
  background: url('./assets/Banner1.png') no-repeat top;
  background-size: cover;
  /* height: auto; */
}

.boxBanner {
  /* position: relative; */
  /* top: -68%; */
  /* left: 3%; */
  margin-top: 7%;
  margin-left: 3%;
  width: 400px;
}

.boxBanner h2 {
  font-size: 40px;
  color: #D32242;
}

.boxBanner p {
  font-size: 22px;
}


/* Scholarship Slider */
.bg-scholarship {
  width: 92% !important;
  background: #FFFFFF;
}

a.bg-scholarship {
  text-decoration: none;
  color: #D32242;
}

a.bg-scholarship:hover {
  background: #D32242;
  color: white;
  text-decoration: none !important;
}

.profile-student {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background: gray;
  object-fit: cover;
  object-position: 10% 10%;
}

.scholarship-slider .slick-dots {
  bottom: -35px;
}

.scholarship-slider .slick-dots li button:before {
  color: white !important;
  opacity: 1;
}

.scholarship-slider .slick-dots .slick-active button::before {
  color: #D32242 !important;
}

.outer-background-scholarship {
  /* background: url('./assets/border.png') no-repeat top;
  object-fit: cover;
  height: 50vh; */
  background: #D3D8D8;
}

/* Login Page */
.loginPage {
  align-content: center;
  height: 100%;
}

/* Button Material Ui*/
.selected:hover {
      /* color: #0056b3; */
    /* text-decoration: underline; */
}

.selected {
    /* color: #3f51b5; */
    /* padding-top: 6px; */
}

/* ADMIN DASHBOARD */
#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

.sidebar-expanded {
    width: 230px;
}

#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

.sidebar-separator-title {
    background-color: #333;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}

/* Product Section */
.addNewProduct {
  text-align: center;
}
.addNewProduct .custom-file {
  width: 200px;

}

.addNewProduct .custom-file label {
  text-align: left;
}
.addNewProduct .custom-file-label {
  font-size: 12px;
}

/* END OF ADMIN DASHBOARD */

@media only screen and (min-width: 2016px) , (min-width: 2659px), (min-width: 4500px) {
  .MaCommerce {
  position: relative;
  min-height: 100vh;
}

  #Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1900px) {
  .MaCommerce {
    position: static;
    min-height: 0;
  }

  #Footer {
    position: static;
    bottom: 0;
    width: 100%;
  }
}


@media only screen and (max-width: 1025px) {
  
  .navbar-brand {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 992px) {
  .dropdown .dropdown-menu {
  margin-top: 15px;
  min-width: 20rem !important;
}

  .navbar-brand {
    font-size: 18px !important;
  }

  .link-white svg, .link-white a {
    color: rgba(0,0,0,.5) !important;
  }

  .link-white a.navbar-brand {
    color: #000000 !important;
  }

  .link-white #loginDropdown a {
    color: #007bff !important;
  }

  .carousel-custom {
    margin-top: 0px;
    z-index: -3;
  }
  .carousel-custom .custom-items {
    height: 450px;
    background: grey;
  }
} 

/* Register */
.userImage {
  object-fit: cover;
  width: 200px;
}

@media only screen and (max-width: 991px) {
    .navbar-brand {
    font-size: 32px !important;
  }
}

@media only screen and (max-width: 767px) {
  .carousel-custom .custom-items {
    height: 350px;
    background: grey;
  }
  .slick-slide>div {
    margin: 20px 10px !important;
  }

  .opacity-carousel-items .display-4 {
    font-size: 1.75rem !important;
    font-weight: bold;
  }
} 

@media only screen and (max-width: 580px) {
  .slick-next {
    right: -1px !important;
  }

  .slick-prev {
    left: -1px !important; 
    z-index: 2;
  }
} 


/* ===================== PAYMENT STYLE ===================== */

.inputBoxNominal{
  display: flex;
  justify-content: space-around;
  background-color: #f2f3f4;
  padding: 8px;
  border-radius: 0.5em;
  text-align: right;
}

.inputNominal{
  position: relative;
  width: 90%;
  background-color: transparent;
  border: 0px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.inputNominal:active{
  background-color: transparent;
  border: 0px;

}


.rpNominal{
  text-align: left;
  display: inline;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  
}

.titleProject{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.buttonPayment{
  text-align: right;
}

.komentar{
  border-radius: 4px;
  padding: 4px;
  width: 100%;
}

.cardHistory{
  border: thin solid grey ;
  border-radius: 4px;
  padding: 0.5em;
  display: flex;
}

.imageProject img{
  border-radius: 4px;
  margin-right: 0.5em;
}

.projectDetail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectName{
  font-size: 1.2em;
  font-weight: bold;
}

.komentarDonasi{
  font-size: 0.8em;
}

.nominalDonasi{
  font-size: 1em;
  position: relative;
  bottom: 0;
}

.statusPatment{
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusTest{
  margin: 0 auto;
  border : 1px solid green;
  border-radius: 8px;
  padding: 4px 16px;
}

.kotak{
  border: 1px dashed red;
}

.containerListDonasi{
  border: thin solid #f1eee8;
  padding: 0.5em;
  border-radius: 4px;
}

.card-list-donasi-project{
  /* border-bottom: thin solid #f1eee8; */
  background-color: #fafafa;
  padding: 0.5em;
  border-radius: 8px;

}

.userImage img{
  width: 60px;
  border-radius: 60px;


}

.contentList{
  padding-left: 1.5em;
}

.namaDonatur{
  font-weight: bold;
  color: blue;
}

.nominalDonasi{
  color: #505866;
}

.komentar{
  font-style: italic;
}

.dateDonasi{
  font-size: 11px;
  color: #505866;
}

/* button {
  border: 4px solid #302f3a;
  color: #302f3a;
  position: relative;
  border-radius: 18px;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  font-size: 1.15rem;
  background-color: transparent;
  cursor: pointer;
}

button .test {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 18px; */
  /* left: -.6rem;
  top: -.5rem; */
  /* right :-.6rem ;
  bottom : -.5rem;
  z-index: -1;
  background-color: #F7567C;
  transition: all 200ms ease-out;
} */

/* body {
  display: flex;
  justify-content: center;
  background-color: #fdfefa;
  flex-flow: row wrap;
} */
/* 
.container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 500px;
  margin: 2rem 0 0;
} */

/* :focus {
  outline: none;
} */

.sharebutton:focus {outline:0;}

.sharebutton {

  border: 4px solid #b5b8c1;
  color: #b5b8c1;
  position: relative;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  border-radius: 16px;
  font-size: 1.15rem;
  background-color: transparent;
  cursor: pointer;
 
 
}

.sharebutton::before {
  content: 'SHARE YOUR STORY';
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  left: -.4rem;
  border-radius: 16px;
  top: -.6rem;
  padding-top: 13px;
  font-size: 20px;
  color : #FFFFFF;
  z-index: 1;
  background-color: #ce4948;
  transition: all 200ms ease-out;
  box-shadow: 0 12px 12px -4px gray;
}




.donatebutton:focus {outline:0;}

.donatebutton {

  border: 4px solid #ce4948;
  color: #ce4948;
  
  position: relative;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  border-radius: 16px;
  font-size: 1.15rem;
  background-color: transparent;
  cursor: pointer;
 
 
}

.donatebutton::before {
  content: 'DONATE';
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  left: -.4rem;
  border-radius: 16px;
  top: -.6rem;
  padding-top: 13px;


  color : #FFFFFF;
  font-size: 25px;
  z-index: 1;
  background-color: #b5b8c1;
  transition: all 200ms ease-out;
  box-shadow: 0 12px 12px -4px gray;
}

.donatebutton:hover::before {
  top: 0;
  left: 0;
}

.sharebutton:hover::before {
  top: 0;
  left: 0;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projectbackground{
  background-image: url('../src/assets/borderbackground.png');
  /* background-position: center; */
  background-size:cover;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat;  */
  

  object-fit: cover;
}

.classfooter{
  /* style={{backgroundColor : '#ce4948', minHeight : '25vh', color : '#f1f1f1'}} */
  background-color:  #ce4948;
  min-height: 25vh;
  
  color:  #FFFCFD;
}